body {
    background-color: #ffffff;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #003366;  
    margin: 10px;
}

.table.custom_table th {
    border-bottom: 2px solid #003366;
}